<div class="jumbotron col-md-12">

  <!-- <div class="col-md-12">
    <form name="uploadForm" enctype="multipart/form-data" ng-submit="postVideo()">
      <div class="form-group">
          <input type="file" name="files" class="form-control" ng-model="formData.files">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div> -->

  <div class="col-md-8">
    <video controls width="750"></video>
  </div>
  <div class="col-md-4">
    <h2 class="text-primary col-md-12">Play List</h2>
    <hr class="col-md-12" style="background-color: rgb(132, 0, 255);">
    <div class="col-md-12">
    <div id="playlist" class="col-md-12" ng-repeat="video in someVideos">
        <div class="panel" style="background-color: #eee;">
          <div id="playlist-div" ng-click="playVideo(video.id)" ng-model="video.id" class="panel-body">
            <p class="video-list">
              <strong>{{video.videoName}}</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
